/* Portfolio Page */
.portfolio-page {
  text-align: center;
}

.portfolio-page h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

/* Home Page */
.page.home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}