/* Portfolio Page Styles */
.portfolio-page {
    text-align: center;
    padding: 40px;
  }
  
  .portfolio-page h2 {
    font-size: 2.5rem; /* Schriftgröße */
    font-weight: 600; /* Schriftgewicht (halbfett) */
    color: #ff0000; /* Textfarbe */
    margin-bottom: 20px; /* Abstand nach unten */
    text-align: center; /* Zentriert den Text */
    text-transform: uppercase; /* Wandelt den Text in Großbuchstaben um */
    letter-spacing: 1px; /* Erhöht den Abstand zwischen den Buchstaben */
  }
  
  .portfolio-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
  }
  


  